Repository openstack-k8s-operators/hotstack: changes, and which Zuul jobs are due for each by the changed paths.
All: vexxhost-hotstack-ipxe-image, vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image, vexxhost-hotstack-sno-2-bm

zuul.d/jobs.yaml:

---
- job:
    name: hotstack-pre-commit
    nodeset: hotstack-pod
    description: |
      Run pre-commit in pod
    timeout: 450
    run: ci/playbooks/pre-commit.yml

- job:
    name: vexxhost-hotstack-ipxe-image
    parent: base-hotstack-ixpe-image-periodic
    nodeset: hotstack-image-vexxhost
    description: |
      Build Hotstack ipxe image
    timeout: 900
    vars:
      cloud_name: vexxhost
    files:
      - ^ipxe/.*

- job:
    name: vexxhost-hotstack-blank-image
    parent: base-hotstack-blank-image-periodic
    nodeset: hotstack-image-vexxhost
    description: |
      Build Hotstack blank image
    timeout: 900
    vars:
      cloud_name: vexxhost
    files:
      - ^images/.*

- job:
    name: vexxhost-hotstack-controller-image
    parent: base-hotstack-controller-image-periodic
    nodeset: hotstack-image-vexxhost
    description: |
      Build Hotstack controller image
    timeout: 900
    vars:
      cloud_name: vexxhost
    files:
      - ^images/.*

- job:
    name: vexxhost-hotstack-sno-2-bm
    parent: base-hotstack
    nodeset: hotstack-image-vexxhost
    description: |
      Hotstack scenario: sno-2-bm
    timeout: 5400
    attempts: 1
    vars:
      cloud_name: vexxhost
      scenario: sno-2-bm
    run:
      - ci/playbooks/run-deploy.yml
      - ci/playbooks/run-tests.yml
    files:
      - ^scenarios/sno-2-bm/.*
      - ^roles/.*

Improve images README
  images/README.md
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Fix kernel_append_params - redfish group ...
  scenarios/compact-4-bm/manifests/control-plane/control-plane.yaml
  scenarios/sno-2-bm-ipv6/manifests/control-plane/control-plane.yaml
  scenarios/sno-2-bm/manifests/control-plane/control-plane.yaml
Due: vexxhost-hotstack-sno-2-bm

hotloop_oc_apply_file - add retry fro conn refused
  roles/hotloop/library/hotloop_oc_apply_file.py
Due: vexxhost-hotstack-sno-2-bm

Mermaid diagrami for sno-2-bm sno-2-bm-ipv6
  scenarios/sno-2-bm-ipv6/README.md
  scenarios/sno-2-bm/README.md
Due: vexxhost-hotstack-sno-2-bm

Openstack-Ansible devsetup enable nested virt
  devsetup/osa.md
Due: none

Reduce replicas in sno scenarios
  scenarios/3-nodes/manifests/control-plane/control-plane.yaml
  scenarios/multi-nodeset/manifests/control-plane/control-plane.yaml
  scenarios/multi-ns/manifests/control-planes/control-planes.yaml
  scenarios/sno-2-bm-flat-vlan/manifests/control-plane/control-plane.yaml
  scenarios/sno-2-bm-ipv6/manifests/control-plane/control-plane.yaml
  scenarios/sno-2-bm/manifests/control-plane/control-plane.yaml
  scenarios/sno-bmh-tests/manifests/control-plane/control-plane.yaml
  scenarios/sno-nxsw/manifests/control-plane.yaml
Due: vexxhost-hotstack-sno-2-bm

uni01alpha - deploy
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

DNM: Update images
  images/.update_images
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Convert images to raw format by default
  images/Makefile
  images/README.md
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Remove incorrect note in images/README.md
  images/README.md
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Set murano as false in tempest ...
  scenarios/3-nodes/test-operator/tempest-tests.yml
  scenarios/sno-2-bm-ipv6/test-operator/tempest-tests.yml
Due: none

Test scenario 3-nodes
  scenarios/3-nodes/test
Due: none

WIP - Add microshift installer
  03-install_microshift.yml
  bootstrap_microshift.yml
  roles/microshift_installer/README.md
  roles/microshift_installer/defaults/main.yml
  roles/microshift_installer/meta/main.yml
  roles/microshift_installer/tasks/install_microshift.yml
  roles/microshift_installer/tasks/main.yml
  roles/microshift_installer/tasks/setup_controller.yml
  scenarios/microshift-2-bm/README.md
  scenarios/microshift-2-bm/automation-vars.yml
  scenarios/microshift-2-bm/bootstrap_vars.yml
  scenarios/microshift-2-bm/heat_template.yaml
  scenarios/microshift-2-bm/manifests/control-plane/control-plane.yaml
  scenarios/microshift-2-bm/manifests/control-plane/networking/metallb.yaml
  scenarios/microshift-2-bm/manifests/control-plane/networking/nad.yaml
  scenarios/microshift-2-bm/manifests/control-plane/networking/nncp.yaml
  scenarios/microshift-2-bm/test-operator/README.md
  scenarios/microshift-2-bm/test-operator/automation-vars.yml
  scenarios/microshift-2-bm/test-operator/manifests/nad.yaml
  scenarios/microshift-2-bm/test-operator/tempest-tests.yml
Due: vexxhost-hotstack-sno-2-bm

DNM - Test sno-2-bm Job
  scenarios/sno-2-bm/automation-vars.yml
  zuul.d/jobs.yaml
Due: vexxhost-hotstack-sno-2-bm

sno-2-bm job: start with cs9-stream
  zuul.d/jobs.yaml
Due: none

Override params sno-2-bm ...
  zuul.d/jobs.yaml
Due: none

DNM - Test sno-2-bm Job
  scenarios/sno-2-bm/automation-vars.yml
Due: vexxhost-hotstack-sno-2-bm

Wait for deployments/daemonsets instead of pods
  roles/hotloop/templates/common/stages/deps-stages.yaml.j2
Due: vexxhost-hotstack-sno-2-bm

Add a vexxhost-hotstack-3-nodes-update job
  update-vars.yml
  zuul.d/jobs.yaml
Due: none

Fix update wait condition for dataple services
  roles/hotloop/templates/common/stages/openstack-update.yaml.j2
Due: vexxhost-hotstack-sno-2-bm

Add vexxhost-hotstack-3-nodes-update to projects
  docs/brew_builds.md
  docs/hotloop_lang.md
  docs/minor_updates.md
  roles/hotloop/README.md
  roles/hotloop/files/common/manifests/olm/olm-openstack.yaml.j2
  roles/hotloop/templates/common/stages/olm-openstack-stages.yaml.j2
  roles/hotloop/templates/common/stages/openstack-olm-update.yaml.j2
  update-vars.yml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: vexxhost-hotstack-sno-2-bm

3-nodes: Enable re-run of failed tempest tests
  scenarios/3-nodes/test-operator/tempest-tests.yml
Due: none

Add load_balancer tempest config
  scenarios/3-nodes/test-operator/tempest-tests.yml
  scenarios/uni01alpha/test-operator/tempest-tests.yml
Due: none
