Repository openstack-k8s-operators/hotstack: changes, and which Zuul jobs are due for each by the changed paths.
All: vexxhost-hotstack-ipxe-image, vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image, vexxhost-hotstack-sno-2-bm

vexxhost-hotstack-ipxe-image:
  parent: base-hotstack-ixpe-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack ipxe image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-blank-image:
  parent: base-hotstack-blank-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack blank image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-controller-image:
  parent: base-hotstack-controller-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack controller image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-sno-2-bm:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: sno-2-bm
  
    '
  timeout: 5400
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: sno-2-bm
  run:
  - ci/playbooks/run-deploy.yml
  - ci/playbooks/run-tests.yml

Rename CI playbook
  ci/playbooks/run-tests.yml
Due: none

Get the correct automation vars for deploy
  ci/playbooks/run-deploy.yml
Due: none

Set scenario dir in job config
  zuul.d/jobs.yaml
Due: none

Fix work_dir for RHOSO deployment in ci play
  ci/playbooks/run-deploy.yml
Due: none

DNM - Test sno-2-bm Job
  scenarios/sno-2-bm/automation-vars.yml
Due: vexxhost-hotstack-sno-2-bm

Add must-gather command to error message
  roles/hotlogs/library/hotlogs_must_gather.py
Due: vexxhost-hotstack-sno-2-bm

Add 3-nodes job - experimental trigger
  scenarios/3-nodes/test-operator/automation-vars.yml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Add efficient pod completion wait to hotloop role
  docs/hotloop_lang.md
  docs/hotstack_scenarios.md
  roles/hotloop/README.md
  roles/hotloop/library/hotloop_stage_loader.py
  roles/hotloop/library/hotloop_wait_pod_completion.py
  roles/hotloop/tasks/execute_stage.yml
Due: vexxhost-hotstack-sno-2-bm

Use wait for pod completion sno-2-bm and 3-nodes
  scenarios/3-nodes/test-operator/automation-vars.yml
  scenarios/sno-2-bm/test-operator/automation-vars.yml
Due: vexxhost-hotstack-sno-2-bm

Test scenario 3-nodes
  scenarios/3-nodes/test
Due: none

uni01alpha - Noop job
  ci/playbooks/noop.yml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Fix jobs.batch wait conditions for network nodes
  scenarios/uni01alpha/automation-vars.yml
Due: none

uni01alpha - wait for correct nbr computes ...
  scenarios/uni01alpha/automation-vars.yml
Due: none

uni01alpha - deploy
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

hotlogs: must-gather support OPENSTACK_DATABASES
  roles/hotlogs/defaults/main.yml
  roles/hotlogs/library/hotlogs_must_gather.py
  roles/hotlogs/tasks/main.yml
Due: vexxhost-hotstack-sno-2-bm

Set timezone UTC for hotstack controller image
  images/Makefile
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Exclude shared_nncp from NMstate validation
  .pre-commit-config.yaml
Due: none

Fix fail_json() missing msg parameter
  .pre-commit-config.yaml
  roles/hotloop/library/hotloop_oc_apply_file.py
  roles/hotloop/library/hotloop_oc_apply_kustomize.py
Due: vexxhost-hotstack-sno-2-bm

Fix template manifest remote file handling
  roles/hotloop/tasks/main.yml
  roles/hotloop/tasks/template_manifest.yml
Due: vexxhost-hotstack-sno-2-bm

hotlogs: Add gzip compression for log files
  roles/hotlogs/tasks/main.yml
Due: vexxhost-hotstack-sno-2-bm

hotlogs: Do not recompress .xz
  roles/hotlogs/tasks/main.yml
Due: vexxhost-hotstack-sno-2-bm

Path conditions:
  vexxhost-hotstack-ipxe-image: any of: ^ipxe/.*
  vexxhost-hotstack-blank-image: any of: ^images/.*
  vexxhost-hotstack-controller-image: any of: ^images/.*
  vexxhost-hotstack-sno-2-bm: any of: ^scenarios/sno-2-bm/.*, ^roles/.*
