Repository openstack-k8s-operators/hotstack: changes, and which Zuul jobs are due for each by the changed paths.
All: vexxhost-hotstack-ipxe-image, vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image, vexxhost-hotstack-sno-2-bm

vexxhost-hotstack-ipxe-image:
  parent: base-hotstack-ixpe-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack ipxe image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-blank-image:
  parent: base-hotstack-blank-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack blank image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-controller-image:
  parent: base-hotstack-controller-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack controller image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-sno-2-bm:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: sno-2-bm
  
    '
  timeout: 5400
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: sno-2-bm
  run:
  - ci/playbooks/run-deploy.yml
  - ci/playbooks/run-tests.yml

Test scenario 3-nodes
  scenarios/3-nodes/test
Due: none

DNM - Test sno-2-bm Job
  scenarios/sno-2-bm/automation-vars.yml
Due: vexxhost-hotstack-sno-2-bm

uni01alpha - deploy
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Add scenario sno-2-bm-ipv6
  scenarios/sno-2-bm-ipv6/automation-vars.yml
  scenarios/sno-2-bm-ipv6/bootstrap_vars.yml
  scenarios/sno-2-bm-ipv6/heat_template.yaml
  scenarios/sno-2-bm-ipv6/manifests/control-plane/control-plane.yaml
  scenarios/sno-2-bm-ipv6/manifests/control-plane/networking/metallb.yaml
  scenarios/sno-2-bm-ipv6/manifests/control-plane/networking/nad.yaml
  scenarios/sno-2-bm-ipv6/manifests/control-plane/networking/nncp-ctlplane.yaml
  scenarios/sno-2-bm-ipv6/manifests/control-plane/networking/nncp-ironic.yaml
  scenarios/sno-2-bm-ipv6/test-operator/README.md
  scenarios/sno-2-bm-ipv6/test-operator/automation-vars.yml
  scenarios/sno-2-bm-ipv6/test-operator/manifests/nad.yaml
  scenarios/sno-2-bm-ipv6/test-operator/tempest-tests.yml
Due: none

hotloop - new stage type script
  docs/hotloop_lang.md
  roles/hotloop/README.md
  roles/hotloop/library/hotloop_stage_loader.py
  roles/hotloop/tasks/execute_stage.yml
  roles/hotloop/tasks/script.yml
Due: vexxhost-hotstack-sno-2-bm

tempest sevice_available murano false
  scenarios/compact-4-bm/test-operator/tempest-tests.yml
  scenarios/sno-2-bm-flat-vlan/test-operator/tempest-tests.yml
  scenarios/sno-2-bm/test-operator/tempest-tests.yml
  scenarios/sno-nxsw/test-operator/tempest-tests.yml
  scenarios/uni01alpha/test-operator/tempest-tests.yml
Due: vexxhost-hotstack-sno-2-bm

Disable test_mtu_sized_frames
  scenarios/3-nodes/test-operator/tempest-tests.yml
  scenarios/uni01alpha/test-operator/tempest-tests.yml
Due: none

IPv6 - add nat64 params + remove keypair param
  README.md
  scenarios/3-nodes-gitops/heat_template.yaml
  scenarios/3-nodes/heat_template.yaml
  scenarios/campus-ha/heat_template.yaml
  scenarios/compact-4-bm/heat_template.yaml
  scenarios/hci/heat_template.yaml
  scenarios/multi-nodeset/heat_template.yaml
  scenarios/multi-ns/heat_template.yaml
  scenarios/snapshot-sno/heat_template.yaml
  scenarios/sno-2-bm-flat-vlan/heat_template.yaml
  scenarios/sno-2-bm-ipv6/heat_template.yaml
  scenarios/sno-2-bm/heat_template.yaml
  scenarios/sno-bmh-tests/heat_template.yaml
  scenarios/sno-nxsw/heat_template.yaml
  scenarios/uni01alpha/heat_template.yaml
Due: vexxhost-hotstack-sno-2-bm

WIP - Secret rotate scenario
  scenarios/secret-rotate/README.md
  scenarios/secret-rotate/automation-vars.yml
  scenarios/secret-rotate/bootstrap_vars.yml
  scenarios/secret-rotate/heat_template.yaml
  scenarios/secret-rotate/manifests/control-plane/control-plane.yaml
  scenarios/secret-rotate/manifests/control-plane/nncp/nncp.yaml
  scenarios/secret-rotate/manifests/dataplane.yaml
  scenarios/secret-rotate/manifests/edpm/edpm.yaml
  scenarios/secret-rotate/manifests/networker/networker.yaml
  scenarios/secret-rotate/manifests/networker/nodeset/nodeset.yaml
  scenarios/secret-rotate/manifests/update/update-ovn.yaml
  scenarios/secret-rotate/manifests/update/update-reboot.yaml
  scenarios/secret-rotate/manifests/update/update-services.yaml
  scenarios/secret-rotate/test-operator/automation-vars.yml
  scenarios/secret-rotate/test-operator/scripts/create-users.sh
  scenarios/secret-rotate/test-operator/tempest-tests.yml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Allow using cacert inline in clouds.yaml
  roles/controller/templates/clouds.yaml.j2
Due: vexxhost-hotstack-sno-2-bm

docs: Split devsetup into Packstack and OSA guides
  README.md
  ci/playbooks/pre-commit.yml
  devsetup/README.md
  devsetup/osa.md
  devsetup/packstack.md
  docs/deploy_hotstack_on_psi.md
  roles/controller/defaults/main.yml
  roles/controller/tasks/main.yml
  roles/controller/templates/clouds.yaml.j2
  roles/redfish_virtual_bmc/files/deployment.yaml
  roles/redfish_virtual_bmc/vars/automation-vars.yml
Due: vexxhost-hotstack-sno-2-bm

devsetup: Add LXC deployment option for OSA AIO
  devsetup/osa.md
Due: none

No version in tag to use for OSA
  devsetup/osa.md
Due: none

Re-format some doc content ...
  README.md
  devsetup/README.md
  devsetup/osa.md
Due: none

OSA fixes
  04-redfish_virtual_bmc.yml
  README.md
  bootstrap.yml
  devsetup/osa.md
  docs/deploy_hotstack_on_psi.md
Due: none

LVM for nova ephemeral had issues with LVM filters
  devsetup/osa.md
Due: none

OSA - docs touch up
  devsetup/README.md
Due: none

Consistent NOTE style in MarkDown files
  devsetup/README.md
  devsetup/osa.md
  docs/deploy_hotstack_on_psi.md
  roles/hotloop/README.md
  scenarios/3-nodes-gitops/README.md
Due: vexxhost-hotstack-sno-2-bm

Bump timeout for instance create fro ironic tempest
  scenarios/compact-4-bm/test-operator/tempest-tests.yml
  scenarios/sno-2-bm-flat-vlan/test-operator/tempest-tests.yml
  scenarios/sno-2-bm-ipv6/test-operator/tempest-tests.yml
  scenarios/sno-2-bm/test-operator/tempest-tests.yml
  scenarios/sno-nxsw/test-operator/tempest-tests.yml
  scenarios/uni01alpha/test-operator/tempest-tests.yml
Due: vexxhost-hotstack-sno-2-bm

require_image_format_match: False - bootable ISO
  devsetup/osa.md
Due: none

Update sushy-tools image
  roles/redfish_virtual_bmc/files/deployment.yaml
Due: vexxhost-hotstack-sno-2-bm

Add NAT64 appliance image build automation
  images/.gitignore
  images/Makefile
  images/README.md
  images/build-nat64-appliance-image.yaml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Path conditions:
  vexxhost-hotstack-ipxe-image: any of: ^ipxe/.*
  vexxhost-hotstack-blank-image: any of: ^images/.*
  vexxhost-hotstack-controller-image: any of: ^images/.*
  vexxhost-hotstack-sno-2-bm: any of: ^scenarios/sno-2-bm/.*, ^roles/.*
